name: Check
on:
    push:
        branches:
            - main
    pull_request:

jobs:
    test:
        name: test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: "Set up Dotnet SDK"
              run: |
                  sudo apt-get update
                  sudo apt-get install software-properties-common -y
                  sudo add-apt-repository ppa:dotnet/backports
                  sudo apt-get update
                  sudo apt-get install dotnet-sdk-9.0 -y

            - name: Install edgee
              uses: edgee-cloud/install-edgee-cli@v0.1.0

            - name: Build component
              run: |
                  edgee components build

            - name: Verify .wasm file exists
              run: |
                  if [ ! -f "./dc_component.wasm" ]; then
                    echo "âŒ Error: dc_component.wasm not found" >&2
                    exit 1
                  fi
